<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>

<body>
    <h1> Wel-Come to text analyze</h1>
    <h1>Enter your text area</h1>
    <form action="/analyze">
        <textarea name="text" style='margin: 0px; width: 1680px; height: 180px;'></textarea>
        <br>
        <input type="checkbox" name="removepunc" id="">Remove Punctuations<br>
        <input type="checkbox" name="capitaliz" id="">Upper-Case<br>
        <input type="checkbox" name="newlineremover" id="">New-Line-Remover<br>
        <button type="submit">Analyz Text</button>

    </form>
</body>

</html>